.tabla-lista {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-lista th, .tabla-lista td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-lista th {
    background-color: #4CAF50;
    color: white;
}

.tabla-lista tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabla-lista tr:hover {
    background-color: #ddd;
}

select:invalid {
    color: gray;
  }
  
option{
    margin-bottom: 20px;
}